.home-page__header {
    background-color: #fefefe;
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px 0;
    top: 0;
    .home-page__logo {
        position: fixed;
        left: 30px;
        top: 20px;
    }
    .home-page__search-input {
        background: #fefefe;
        border: 1px solid #dddddd;
        box-sizing: border-box;
        border-radius: 6px;
        height: 50px;
        width: 810px;
        padding: 8px;
    }
    .home-page__find-button {
        cursor: pointer;
        min-width: 94px;
        height: 50px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        background: #ff7b33;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        margin-left: 21px;
    }
}
.home-page__main {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height: 100%;
    background: #eceff1;
    .home-page__main-content {
        background: #ffffff;
        width: 890px;
        margin-top: 146px;
        padding: 16px;
    }
}
